.on{
    height: 300px;
    width:  600px;
    background-color: black;
    margin: 0 auto;
    color: burlywood;
    border: 2px green solid;
}
.off{
    height: 300px;
    width:  600px;
    background-image: url(/watch.jpeg);
    background-size: cover;
    margin: 0 auto;
    color: burlywood;
    border: solid 5px green solid;
}
button{
    border-top: 2px red solid;
    margin-left: 400px;
    margin-top: 220px;
    background-color: chocolate;
    height: 20px;
}